<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">
  <display-name>Shorty</display-name>
  <context-param>
    <param-name>dbDir</param-name>
    <param-value>/Users/davec/Projects/shorty/shorty_db_dir</param-value>
  </context-param>
  <context-param>
    <param-name>dbDirProd</param-name>
    <param-value>/home/webadmin/xn--dfi5d.ws/webapps/shorty_db_dir</param-value>
  </context-param>
  <listener>
    <listener-class>
      shorty.DBContextListener
    </listener-class>
  </listener>
  <servlet>
    <servlet-name>shorty</servlet-name>
    <servlet-class>shorty.ShortyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shorty</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
